﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library Catalog!</h1>
    <p>There are a lot of different functions. You can click on header items in order to see the whole catalog or lists of each entity.</p>
    <img src="/library.jpg" width="800" height="500" alt="Library" />
</div>