﻿@model ROKO.Lib.PL.WebUI.Models.PatentAddingWithAuthors

@{
    ViewData["Title"] = "CreatePatentWithAuthors";
}

<h1>CreatePatentWithAuthors</h1>

<h4>PatentAddingWithAuthors</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Patent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Patent.Title" class="control-label"></label>
                <input asp-for="Patent.Title" class="form-control" />
                <span asp-validation-for="Patent.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patent.Country" class="control-label"></label>
                <input asp-for="Patent.Country" class="form-control" />
                <span asp-validation-for="Patent.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patent.RegistrationNumber" class="control-label"></label>
                <input asp-for="Patent.RegistrationNumber" class="form-control" />
                <span asp-validation-for="Patent.RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patent.ApplicationDate" class="control-label"></label>
                <input asp-for="Patent.ApplicationDate" class="form-control" />
                <span asp-validation-for="Patent.ApplicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patent.PublicationDate" class="control-label"></label>
                <input asp-for="Patent.PublicationDate" class="form-control" />
                <span asp-validation-for="Patent.PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patent.NumberOfPages" class="control-label"></label>
                <input asp-for="Patent.NumberOfPages" class="form-control" />
                <span asp-validation-for="Patent.NumberOfPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patent.Note" class="control-label"></label>
                <input asp-for="Patent.Note" class="form-control" />
                <span asp-validation-for="Patent.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authors" class="control-label"></label><br>
                <select multiple="multiple" class="js-example-basic-multiple" asp-for="@Model.Authors" asp-items="@(List<SelectListItem>)ViewBag.authors"></select>
                <span asp-validation-for="Authors" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                @Html.AntiForgeryToken()
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Catalog">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link href="~/css/select2.min.css" rel="stylesheet" />
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/select2connection.js"></script>
}
