﻿@model IEnumerable<ROKO.Lib.Entities.Newspaper>

@{
    ViewData["Title"] = "Index";
}

<h1>Choose Newspaper for adding it's issue</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfPublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishingHouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISSN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfPublication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingHouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISSN)
            </td>
            <td>
                @Html.ActionLink("CreateIssue", "CreateIssue", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
