﻿@model IEnumerable<ROKO.Lib.PL.WebUI.Models.NewCatalogRequirementsViewModel>

@{
    ViewData["Title"] = "NewCatalogRequirementsIndex";
}

<h1>All Catalog</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create" asp-controller="Book">Create New Book</a>
    </p>
    <p>
        <a asp-action="Create" asp-controller="Newspaper">Create New Newspaper</a>
    </p>
    <p>
        <a asp-action="Create" asp-controller="Patent">Create New Patent</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identificator) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPages) 
            </th>
            @if (User.IsInRole("Administrator"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink($"{item.Name}", "Details", new { id = item.UnitId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identificator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPages)
                </td>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.UnitId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.UnitId })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<br />


