﻿@model ROKO.Lib.Entities.Newspaper

@{
    ViewData["Title"] = "NewspaperDetails";
}

<h1>Newspaper Details</h1>

<div>
    <h4>Newspaper</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfPublication)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfPublication)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishingHouse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishingHouse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationOrApplicationYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublicationOrApplicationYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IssueNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IssueNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISSN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISSN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator"))
    {
        Html.ActionLink("Edit", "Edit", new { id = Model.Id });
    }
    <a asp-action="Index">Back to List</a>
</div>
